@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

:root {
  --blue: #2db1cc;
  --white: #ffffff;
  --main-text-color: #454444;
  --secondary-text-color: #737373;
  --red: #cc0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

nav {
  width: 100%;
  height: calc(2rem + 3vw);
  background-color: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.nav-link {
  text-decoration: none;
  padding: 1rem;
  color: var(--white);
  font-size: calc(0.7rem + 0.5vw);
}

.nav-link:hover {
  opacity: 0.7;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.hidden {
  display: none;
}

.red {
  color: var(--red);
}

input[type="submit"] {
  font-family: "Mulish", sans-serif;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 1rem 3rem;
  font-size: calc(0.7rem + 1vw);
  border-radius: 2px;
  transition: 0.2s transform;
  /* margin: auto; */
}

input[type="submit"]:hover {
  transform: scale(1.1, 1.05);
}

@media only screen and (max-width: 500px) {
  input[type="submit"] {
    padding: 0.5rem 3rem;
    margin: auto;
  }

  a.home-link {
    text-align: center;
  }
}

label {
  text-transform: capitalize;
}

a.home-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 1.5px; */
  width: 100%;
  display: inline-block;
  padding: 1vw;
  transition: transform 0.3s;
  font-size: calc(0.7rem + 1vw);
  margin: 10vw auto;
}

a.home-link:hover {
  transform: scaleY(1.05);
  color: var(--main-text-color);
}

/* @media only screen and (max-width: 500px) {
  a.home-link {
    font-size: 0.6rem;
  }
} */

svg.icon {
  margin-left: 0.5rem;
  padding-top: 0.3rem;
  fill: var(--secondary-text-color);
  width: calc(0.5rem + 0.8vw);
  height: calc(0.5rem + 0.8vw);
  transition: 0.3s transform;
}

a.home-link:hover svg.icon {
  fill: var(--main-text-color);
  transform: translateX(10px);
}
