nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ul {
  padding: 1rem;
} */

main {
  padding: 2vw;
  max-width: 800px;
  margin: 10vw auto 0;
  color: var(--main-text-color);
}

main > h1 {
  font-size: calc(1rem + 1vw);
}

main > * {
  margin-top: 2vw;
  font-size: calc(0.7rem + 1vw);
}

input,
textarea {
  display: block;
}

label {
  color: var(--secondary-text-color);
  font-size: calc(0.7rem + 0.5vw);
}

input[type="text"] {
  margin-bottom: 1rem;
  width: 100%;
  height: calc(2rem + 0.6vw);
  border-radius: 2px;
}

textarea {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 2px;
}

.post-form input:invalid,
.post-form textarea:invalid {
  border: 2px solid var(--red);
}

.post-form input:valid,
.post-form textarea:valid {
  border: 2px solid var(--blue);
}

.post-form input:focus,
.post-form textarea:focus {
  border: 2px solid #808080;
}

.post-form input:placeholder-shown,
.post-form textarea:placeholder-shown {
  border: 2px solid #999999;
}

.post-form > input[type="submit"] {
  margin: auto;
  font-size: calc(0.6rem + 1vw);
}

/* a.home-link {
  margin: 10vw auto;
  width: 100%; 
} */

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 60%;
}

.close {
  color: var(--secondary-text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
}
